<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Register Completed - Bother Goose: Bother your friends with Goose</title>
		<link rel="stylesheet" href="static/css/format.css">
		<!--JavaScript Post Service-->
		<!--Should send out the email and number information to the url-->
		<script>
			
		</script>
	</head>
	<body>
		
		<!--Main Page Header-->
		<header>
			<a href=""><img src="static/graphics/BotherGoose2.png" alt="BotherGoose" align="left" height="200" width="200" float="left"></a>
			<img src="static/graphics/BotherGooseTitle.png" height="125" width="600">
			<h3 style="font-style:italic;">Bother your friends at BotherGoose</h3>
		</header>
		
		<!--Information Section-->
		<article style="background-color: #313e4c; color: white;">
			<h1 style="text-align: center; font-size: 30px;">Form Sent!</h1>
			<h2 style="text-align: center;">The number {{ num }} is now getting SMS about Goose.</h2>
		</article>
		
		<!--Disclaimer-->
		<footer>
			<strong>
				We are not responsible for any harm between friends, family or strangers.
			</strong>
		</footer>
	</body>
</html>
