<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Bother Goose: Bother your friends with Goose</title>
		<link rel="stylesheet" href="static/css/format.css">
		<!--JavaScript Post Service-->
		<!--Should send out the email and number information to the url-->
		<script>
			
		</script>
	</head>
	<body>
		
		<!--Main Page Header-->
		<header>
			<a href="index.html"><img src="static/graphics/BotherGoose2.png" alt="BotherGoose" align="left" height="200" width="200" float="left"></a>
			<img src="static/graphics/BotherGooseTitle.png" height="125" width="600">
			<h3 style="font-style:italic;">Bother your friends at BotherGoose</h3>
		</header>
		
		<!--Information Section-->
		<article style="background-color: #313e4c; color: white;">
			<h1 style="text-align: center; font-size: 30px;">
				<strong>
					Form Sent!
					<br>
					<p>The number {{ num }} is now getting SMS about Goose.</p>
				</strong>
			</h1>
		</article>
		
		<!--Disclaimer-->
		<footer>
			Created by:
			<br>
			<p>&nbsp;&nbsp;&nbsp;&nbsp;T. Per.
			<p>&nbsp;&nbsp;&nbsp;&nbsp;K. Min.
			<p>&nbsp;&nbsp;&nbsp;&nbsp;J. Lee.
			<br>
			<p>
				<strong>
					We are not responsible for any harm between friends, family or strangers.
				</strong>
			</p>
		</footer>
	</body>
</html>