<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Bother Goose: Bother your friends with Goose</title>
		<link rel="stylesheet" href="static/css/format.css">
		<!--JavaScript Post Service-->
		<!--Should send out the email and number information to the url-->
		<script>
			
		</script>
	</head>
	<body>
		
		<!--Main Page Header-->
		<header>
			<a href=""><img src="static/graphics/BotherGoose2.png" alt="BotherGoose" align="left" height="200" width="200" float="left"></a>
			<img src="static/graphics/BotherGooseTitle.png" height="125" width="600">
			<h3 style="font-style:italic;">Bother your friends at BotherGoose</h3>
		</header>
		
		<!--Information Section-->
		<nav>
			<p style="text-align: center; font-style: italic;">
				<strong>
					Have Goosey banter with one of your friends! &#x1F604;
					<br>
					Or even if you want goose facts sent to your mobile daily.
				</strong>
				<br>
				Requires a valid email to progress with BotherGoose.
			</p>
			How this site works:
			<ol>
				<li>Type in your email</li>
				<li>Type in the number you want to prank</li>
				<li>Sit back as they receive Goose related facts every hour!</li>
			</ol>
		</nav>
		
		<!--Form Location-->
			<form action="/" method="POST">
				<!--Pranker Infomation-->
				<label style="">Email Address:</label>
				<input type="email" name="email" id="email" required>
				<br>
				
				<!--Prankee Information-->
				<label>Phone Number:</label>
				<input type=tel name="phoneNumber" id="phoneNumber" required>
				<br>
				
				<input type="submit" value="Start"> <input type="reset">
			</form>
		
		<!--Disclaimer-->
		<footer>
			<strong>
				We are not responsible for any harm between friends, family or strangers.
			</strong>
			<a href="http://aws.amazon.com/what-is-cloud-computing"><img src="http://awsmedia.s3.amazonaws.com/AWS_logo_poweredby_black_127px.png" alt="Powered by AWS Cloud Computing"></a>
		</footer>
	</body>
</html>
